.venv
.conda

resources/results/*
resources/plots/*
resources/data/*
!resources/data/.gitkeep

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

.ipynb_checkpoints/

build/
dist/
*.egg-info/

.DS_Store
Thumbs.db
.vscode/
.idea/